.footer {
  padding: 6rem 3rem 2rem 3rem;
  background-color: $color-dark-1;
  color: $color-grey-light-1;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  justify-items: center;

  &__resources {
    padding-bottom: 4rem;
    border-bottom: 2px solid $color-dark-2;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    @include respond(phone) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__underline {
    width: 6rem;
    height: 0.3rem;
    background-color: $color-dark-2;
  }

  &__heading {
    padding-bottom: 1.5rem;
  }

  &__links ul {
    list-style: none;
  }

  &__link {
    font-size: 1.4rem;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__socials {
    padding-top: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
      width: 100%;
    }

    &-button {
      color: $color-grey-light-1;
      font-size: 2.2rem;

      &:not(:last-child) {
        margin-right: 2.5rem;
      }
    }
  }

  &__about-us {
    @include respond(phone) {
      display: none;
    }
  }
}
