.motivation {
  grid-column: col-start 2 / col-end 11;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-column-gap: 2rem;
  padding-bottom: 4rem;

  @include respond(tab-port) {
    padding-top: 8rem;
  }

  @include respond(phone) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }

  &__img {
    width: 100%;
    border-radius: 3px;
    transform: translateY(-2.2rem);

    @include respond(tab-port) {
      transform: translateY(0);
    }
  }

  &__text {
    width: 70%;

    @include respond(phone) {
      margin-bottom: 4rem;
    }
  }

  &__heading {
    width: 80%;

    @include respond(phone) {
      width: 100%;
    }
  }
}
