.testimonials {
  padding-top: 5rem;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 1fr 60%;
  align-items: center;
  justify-items: center;
  position: relative;

  @include respond(phone) {
    padding-top: 3rem;
    grid-template-rows: repeat(2, min-content);
  }

  &__img {
    width: 100%;

    @include respond(phone) {
      grid-column: 2 / 3;
    }
  }

  &__heading {
    width: 70%;

    @include respond(tab-port) {
      transform: translateY(-4rem);
    }

    @include respond(phone) {
      transform: translateY(0);
    }
  }

  &__review {
    position: absolute;
    top: 70%;
    left: 0%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: $color-grey-light-1;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);

    @include respond(phone) {
      position: static;
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      width: 90%;
      margin-top: 2rem;
    }
  }
}
